.LandingPage {
    display: flex;
    align-items: center;
}

.LogoImage {
    height: 100vh;
    /* background-color: #FEF8EC; */
}

.Information {
    background-color: #FEF8EC;
    width: 50vw;
    height: 100vh;
}


.p-1 {
    margin-left: 15px;
    font-size: 3vw;
}

.p-2 {
    margin-left: 15px;
    font-size: 1vw;
}

.LinkContainer {
    margin-left: 15px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
}

a:link {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: green;
}

a:active {
    text-decoration: none;
    color: teal;
}

.LandingPageImage {
    filter: contrast(500%);
    margin-top: 25vh;
    width: 50vw;
}

h1 {
    margin-left: 15px;
    font-size: 8vw;
}

@media screen and (max-width: 926px) {
    .LandingPage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .LogoImage {
        height: 30vh;
        /* background-color: #FEF8EC; */
    }

    .LandingPageImage {
        display: block;
        filter: contrast(500%);
        /* margin: auto; */
        margin-top: 30%;
        width: 50vw;
    }

    .Information {
        background-color: #FEF8EC;
        width: 100vw;
        height: 70vh;
    }

    .p-1 {
        /* margin-left: 15px; */
        font-size: 6vw;
    }

    .p-2 {
        /* margin-left: 15px; */
        font-size: 4vw;
    }

    .LinkContainer {
        /* margin-left: 15px; */
        /* margin-top: 10%; */
        display: flex;
        justify-content: space-around;
        font-size: 5vw;
    }

    h1 {
        /* margin-left: 15px; */
        font-size: 15vw;
    }
}